body{
  background-color: #565c5e;
}

.App{
  background-color: #455954;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;

  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);

}
#to-do-form input{
  background-color: #9d7463;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  

  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
  -webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);  
}

#to-do-form input::placeholder{
  color: #dfdbd8;
}

#to-do-form input:focus{
  outline: none;
}

#to-do-form button{
  background-color: #b5c2c7;
  color: #455954;
  border: none;
  border-radius:50px;
  height: 50px;
  width: 50px;
  font-size: 30px;
  font-weight:bolder;
  margin-left: 40px;

  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
}

#to-do-form button:focus{
  outline: none;
}

#to-do-form button:hover{
  cursor: pointer;
}