.list{
    background-color: #b5c2c7;
    color: #455954;
    width: 300px;
    height: 50px;
    margin:20px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.7);
}

.list p{
    margin-left: 10px;
    position: relative;
    padding-top: 10px;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.list button{
    margin: 0 5px;
    font-size: 15px;
    color: #f51b1b;
    background-color: b5c2c7;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    box-shadow: 6px 11px 31px -4px rgba(199,239,229,0.7);
-webkit-box-shadow: 6px 11px 31px -4px rgba(199,239,229,0.7);
-moz-box-shadow: 6px 11px 31px -4px rgba(199,239,229,0.7);
}

.list button:focus{
    outline: none;
}

.list p input{
    background-color: transparent;
    border: 0;
    color: white;
    font-size:15px
}

.list p input:focus{
    outline: none;
}